body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.list {
  list-style-type: none;
  position: absolute;
  left: 10px;
  margin: 5px;
  padding: 0;
}

.button-icon {
  font-size: 20px;
  vertical-align: middle;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
  margin: 3px;

  &:hover {
    color: white;
    border-color: white;
  }
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 400px;
  margin-bottom: 30px;
}
